<h1> A Harvest Helper App for Byliner </h1>

<p>
	This app helps you: 
<ul>
	<li>Automatically markdown <strong>bold</strong> and <i>italic</i> words</li>
	<li>Correct common OCR misreads</li>
	<li>Space and format OCR files from ABBY (saved as ".html")</li>
</ul>
</p>

<br><br>

<div class="from_ocr">
	<h1> From OCR: </h1>

	<p> Step 1: In Gmail, scroll down to the attached article & Click "View" </p>

	<p> Step 2: In the View, Right Click and Select "View Page Source" </p>

	<p> Step 3: In Page Source, Copy all, Paste it below, and Click Submit: </p><br>


	<%= form_for @ocr_harvest do |f| %> 
	 

		<div class="field">

			<%= f.text_area :raw_text, placeholder: "Paste html here..." %>

		</div>


	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
</div>


<div class="from_website">
	<h1> From a Website: </h1>

	<p> Step 1: Goto the Print Page of your assigned article (if there is no print page, see <%= link_to "Tips", tips_path, :target => '_blank' %>) </p>

	<p> Step 2: In the Print Page View, Right Click and select "View Page Source" </p>

	<p> Step 3: In Page Source, Copy all, Paste it below, and Click Submit: </p><br>

	

	<%= form_for @harvest do |f| %> 
	 

		<div class="field">

			<%= f.text_area :raw_text, placeholder: "Paste html here..." %>

		</div>


	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
</div>


